.custom-sidebar {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    background-color: black;
}

.logo {
    margin-top: 90px;
    text-align: center;
    padding: 16px;
}

.collapsed-logo .logo-icon {
    font-size: 12px;
    color: #898989;
}

.expanded-logo .logo-text {
    color: #898989;
    font-size: 12px;
}

.custom-menu {
    margin-top: 20px;
    background-color: black;
}





